@charset "UTF-8";

/* Basic Fixes */
*, *:before, *:after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}
html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
h1,h2,h3,h4,h5,h6 {
    width: 100%;
}

/* Grid */
.container {
    margin: auto;
    width: 85%;
    -webkit-transition: width 0.2s ease;
    transition: width 0.2s ease;
}
@media only screen and (max-width: 992px) {
    .container {
        width: 90%;
    }
}
@media only screen and (max-width: 600px) {
    .container {
        width: 95%;
    }
}
.row {
    display: inline-table;
    margin: 5px 0;
    width: 100%;
}
.row.flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.row .col {
    max-width: 100%;
    padding: 5px;
}
.row.flex .col {
    -webkit-box-flex: 1;
    -ms-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

/* 10 Column Grid */
.row.flex.grid-10 .col.l1 {
    -webkit-box-flex: 0;
    -ms-box-flex: 0;
    -ms-flex: 0 0 10%;
    flex: 0 0 10%;
    max-width: 10%;
}
.row.flex.grid-10 .col.l2 {
    -webkit-box-flex: 0;
    -ms-box-flex: 0;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
}
.row.flex.grid-10 .col.l3 {
    -webkit-box-flex: 0;
    -ms-box-flex: 0;
    -ms-flex: 0 0 30%;
    flex: 0 0 30%;
    max-width: 30%;
}
.row.flex.grid-10 .col.l4 {
    -webkit-box-flex: 0;
    -ms-box-flex: 0;
    -ms-flex: 0 0 40%;
    flex: 0 0 40%;
    max-width: 40%;
}
.row.flex.grid-10 .col.l5 {
    -webkit-box-flex: 0;
    -ms-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}
.row.flex.grid-10 .col.l6 {
    -webkit-box-flex: 0;
    -ms-box-flex: 0;
    -ms-flex: 0 0 60%;
    flex: 0 0 60%;
    max-width: 60%;
}
.row.flex.grid-10 .col.l7 {
    -webkit-box-flex: 0;
    -ms-box-flex: 0;
    -ms-flex: 0 0 70%;
    flex: 0 0 70%;
    max-width: 70%;
}
.row.flex.grid-10 .col.l8 {
    -webkit-box-flex: 0;
    -ms-box-flex: 0;
    -ms-flex: 0 0 80%;
    flex: 0 0 80%;
    max-width: 80%;
}
.row.flex.grid-10 .col.l9 {
    -webkit-box-flex: 0;
    -ms-box-flex: 0;
    -ms-flex: 0 0 90%;
    flex: 0 0 90%;
    max-width: 90%;
}
.row.flex.grid-10 .col.l10 {
    -webkit-box-flex: 0;
    -ms-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}
@media only screen and (max-width: 992px) {
    .row.flex.grid-10 .col.m1 {
        -webkit-box-flex: 0;
        -ms-box-flex: 0;
        -ms-flex: 0 0 10%;
        flex: 0 0 10%;
        max-width: 10%;
    }
    .row.flex.grid-10 .col.m2 {
        -webkit-box-flex: 0;
        -ms-box-flex: 0;
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%;
    }
    .row.flex.grid-10 .col.m3 {
        -webkit-box-flex: 0;
        -ms-box-flex: 0;
        -ms-flex: 0 0 30%;
        flex: 0 0 30%;
        max-width: 30%;
    }
    .row.flex.grid-10 .col.m4 {
        -webkit-box-flex: 0;
        -ms-box-flex: 0;
        -ms-flex: 0 0 40%;
        flex: 0 0 40%;
        max-width: 40%;
    }
    .row.flex.grid-10 .col.m5 {
        -webkit-box-flex: 0;
        -ms-box-flex: 0;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
    .row.flex.grid-10 .col.m6 {
        -webkit-box-flex: 0;
        -ms-box-flex: 0;
        -ms-flex: 0 0 60%;
        flex: 0 0 60%;
        max-width: 60%;
    }
    .row.flex.grid-10 .col.m7 {
        -webkit-box-flex: 0;
        -ms-box-flex: 0;
        -ms-flex: 0 0 70%;
        flex: 0 0 70%;
        max-width: 70%;
    }
    .row.flex.grid-10 .col.m8 {
        -webkit-box-flex: 0;
        -ms-box-flex: 0;
        -ms-flex: 0 0 80%;
        flex: 0 0 80%;
        max-width: 80%;
    }
    .row.flex.grid-10 .col.m9 {
        -webkit-box-flex: 0;
        -ms-box-flex: 0;
        -ms-flex: 0 0 90%;
        flex: 0 0 90%;
        max-width: 90%;
    }
    .row.flex.grid-10 .col.m10 {
        -webkit-box-flex: 0;
        -ms-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
}
@media only screen and (max-width: 600px) {
    .row.flex.grid-10 .col.s1 {
        -webkit-box-flex: 0;
        -ms-box-flex: 0;
        -ms-flex: 0 0 10%;
        flex: 0 0 10%;
        max-width: 10%;
    }
    .row.flex.grid-10 .col.s2 {
        -webkit-box-flex: 0;
        -ms-box-flex: 0;
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%;
    }
    .row.flex.grid-10 .col.s3 {
        -webkit-box-flex: 0;
        -ms-box-flex: 0;
        -ms-flex: 0 0 30%;
        flex: 0 0 30%;
        max-width: 30%;
    }
    .row.flex.grid-10 .col.s4 {
        -webkit-box-flex: 0;
        -ms-box-flex: 0;
        -ms-flex: 0 0 40%;
        flex: 0 0 40%;
        max-width: 40%;
    }
    .row.flex.grid-10 .col.s5 {
        -webkit-box-flex: 0;
        -ms-box-flex: 0;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
    .row.flex.grid-10 .col.s6 {
        -webkit-box-flex: 0;
        -ms-box-flex: 0;
        -ms-flex: 0 0 60%;
        flex: 0 0 60%;
        max-width: 60%;
    }
    .row.flex.grid-10 .col.s7 {
        -webkit-box-flex: 0;
        -ms-box-flex: 0;
        -ms-flex: 0 0 70%;
        flex: 0 0 70%;
        max-width: 70%;
    }
    .row.flex.grid-10 .col.s8 {
        -webkit-box-flex: 0;
        -ms-box-flex: 0;
        -ms-flex: 0 0 80%;
        flex: 0 0 80%;
        max-width: 80%;
    }
    .row.flex.grid-10 .col.s9 {
        -webkit-box-flex: 0;
        -ms-box-flex: 0;
        -ms-flex: 0 0 90%;
        flex: 0 0 90%;
        max-width: 90%;
    }
    .row.flex.grid-10 .col.s10 {
        -webkit-box-flex: 0;
        -ms-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
}

/* 12 Column Grid */
.row.flex.grid-12 .col.l1 {
    -webkit-box-flex: 0;
    -ms-box-flex: 0;
    -ms-flex: 0 0 8.3333333%;
    flex: 0 0 8.3333333%;
    max-width: 8.3333333%;
}
.row.flex.grid-12 .col.l2 {
    -webkit-box-flex: 0;
    -ms-box-flex: 0;
    -ms-flex: 0 0 16.6666666%;
    flex: 0 0 16.6666666%;
    max-width: 16.6666666%;
}
.row.flex.grid-12 .col.l3 {
    -webkit-box-flex: 0;
    -ms-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
}
.row.flex.grid-12 .col.l4 {
    -webkit-box-flex: 0;
    -ms-box-flex: 0;
    -ms-flex: 0 0 33.3333333%;
    flex: 0 0 33.3333333%;
    max-width: 33.3333333%;
}
.row.flex.grid-12 .col.l5 {
    -webkit-box-flex: 0;
    -ms-box-flex: 0;
    -ms-flex: 0 0 41.6666666%;
    flex: 0 0 41.6666666%;
    max-width: 41.6666666%;
}
.row.flex.grid-12 .col.l6 {
    -webkit-box-flex: 0;
    -ms-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}
.row.flex.grid-12 .col.l7 {
    -webkit-box-flex: 0;
    -ms-box-flex: 0;
    -ms-flex: 0 0 58.3333333%;
    flex: 0 0 58.3333333%;
    max-width: 58.3333333%;
}
.row.flex.grid-12 .col.l8 {
    -webkit-box-flex: 0;
    -ms-box-flex: 0;
    -ms-flex: 0 0 66.6666666%;
    flex: 0 0 66.6666666%;
    max-width: 66.6666666%;
}
.row.flex.grid-12 .col.l9 {
    -webkit-box-flex: 0;
    -ms-box-flex: 0;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
}
.row.flex.grid-12 .col.l10 {
    -webkit-box-flex: 0;
    -ms-box-flex: 0;
    -ms-flex: 0 0 83.3333333%;
    flex: 0 0 83.3333333%;
    max-width: 83.3333333%;
}
.row.flex.grid-12 .col.l11 {
    -webkit-box-flex: 0;
    -ms-box-flex: 0;
    -ms-flex: 0 0 91.6666666%;
    flex: 0 0 91.6666666%;
    max-width: 91.6666666%;
}
.row.flex.grid-12 .col.l12 {
    -webkit-box-flex: 0;
    -ms-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}
@media only screen and (max-width: 992px) {
    .row.flex.grid-12 .col.m1 {
        -webkit-box-flex: 0;
        -ms-box-flex: 0;
        -ms-flex: 0 0 8.3333333%;
        flex: 0 0 8.3333333%;
        max-width: 8.3333333%;
    }
    .row.flex.grid-12 .col.m2 {
        -webkit-box-flex: 0;
        -ms-box-flex: 0;
        -ms-flex: 0 0 16.6666666%;
        flex: 0 0 16.6666666%;
        max-width: 16.6666666%;
    }
    .row.flex.grid-12 .col.m3 {
        -webkit-box-flex: 0;
        -ms-box-flex: 0;
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
    }
    .row.flex.grid-12 .col.m4 {
        -webkit-box-flex: 0;
        -ms-box-flex: 0;
        -ms-flex: 0 0 33.3333333%;
        flex: 0 0 33.3333333%;
        max-width: 33.3333333%;
    }
    .row.flex.grid-12 .col.m5 {
        -webkit-box-flex: 0;
        -ms-box-flex: 0;
        -ms-flex: 0 0 41.6666666%;
        flex: 0 0 41.6666666%;
        max-width: 41.6666666%;
    }
    .row.flex.grid-12 .col.m6 {
        -webkit-box-flex: 0;
        -ms-box-flex: 0;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
    .row.flex.grid-12 .col.m7 {
        -webkit-box-flex: 0;
        -ms-box-flex: 0;
        -ms-flex: 0 0 58.3333333%;
        flex: 0 0 58.3333333%;
        max-width: 58.3333333%;
    }
    .row.flex.grid-12 .col.m8 {
        -webkit-box-flex: 0;
        -ms-box-flex: 0;
        -ms-flex: 0 0 66.6666666%;
        flex: 0 0 66.6666666%;
        max-width: 66.6666666%;
    }
    .row.flex.grid-12 .col.m9 {
        -webkit-box-flex: 0;
        -ms-box-flex: 0;
        -ms-flex: 0 0 75%;
        flex: 0 0 75%;
        max-width: 75%;
    }
    .row.flex.grid-12 .col.m10 {
        -webkit-box-flex: 0;
        -ms-box-flex: 0;
        -ms-flex: 0 0 83.3333333%;
        flex: 0 0 83.3333333%;
        max-width: 83.3333333%;
    }
    .row.flex.grid-12 .col.m11 {
        -webkit-box-flex: 0;
        -ms-box-flex: 0;
        -ms-flex: 0 0 91.6666666%;
        flex: 0 0 91.6666666%;
        max-width: 91.6666666%;
    }
    .row.flex.grid-12 .col.m12 {
        -webkit-box-flex: 0;
        -ms-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
}
@media only screen and (max-width: 600px) {
    .row.flex.grid-12 .col.s1 {
        -webkit-box-flex: 0;
        -ms-box-flex: 0;
        -ms-flex: 0 0 8.3333333%;
        flex: 0 0 8.3333333%;
        max-width: 8.3333333%;
    }
    .row.flex.grid-12 .col.s2 {
        -webkit-box-flex: 0;
        -ms-box-flex: 0;
        -ms-flex: 0 0 16.6666666%;
        flex: 0 0 16.6666666%;
        max-width: 16.6666666%;
    }
    .row.flex.grid-12 .col.s3 {
        -webkit-box-flex: 0;
        -ms-box-flex: 0;
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
    }
    .row.flex.grid-12 .col.s4 {
        -webkit-box-flex: 0;
        -ms-box-flex: 0;
        -ms-flex: 0 0 33.3333333%;
        flex: 0 0 33.3333333%;
        max-width: 33.3333333%;
    }
    .row.flex.grid-12 .col.s5 {
        -webkit-box-flex: 0;
        -ms-box-flex: 0;
        -ms-flex: 0 0 41.6666666%;
        flex: 0 0 41.6666666%;
        max-width: 41.6666666%;
    }
    .row.flex.grid-12 .col.s6 {
        -webkit-box-flex: 0;
        -ms-box-flex: 0;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
    .row.flex.grid-12 .col.s7 {
        -webkit-box-flex: 0;
        -ms-box-flex: 0;
        -ms-flex: 0 0 58.3333333%;
        flex: 0 0 58.3333333%;
        max-width: 58.3333333%;
    }
    .row.flex.grid-12 .col.s8 {
        -webkit-box-flex: 0;
        -ms-box-flex: 0;
        -ms-flex: 0 0 66.6666666%;
        flex: 0 0 66.6666666%;
        max-width: 66.6666666%;
    }
    .row.flex.grid-12 .col.s9 {
        -webkit-box-flex: 0;
        -ms-box-flex: 0;
        -ms-flex: 0 0 75%;
        flex: 0 0 75%;
        max-width: 75%;
    }
    .row.flex.grid-12 .col.s10 {
        -webkit-box-flex: 0;
        -ms-box-flex: 0;
        -ms-flex: 0 0 83.3333333%;
        flex: 0 0 83.3333333%;
        max-width: 83.3333333%;
    }
    .row.flex.grid-12 .col.s11 {
        -webkit-box-flex: 0;
        -ms-box-flex: 0;
        -ms-flex: 0 0 91.6666666%;
        flex: 0 0 91.6666666%;
        max-width: 91.6666666%;
    }
    .row.flex.grid-12 .col.s12 {
        -webkit-box-flex: 0;
        -ms-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
}

/* 16 Column Grid */
.row.flex.grid-16 .col.l1 {
    -webkit-box-flex: 0;
    -ms-box-flex: 0;
    -ms-flex: 0 0 6.25%;
    flex: 0 0 6.25%;
    max-width: 6.25%;
}
.row.flex.grid-16 .col.l2 {
    -webkit-box-flex: 0;
    -ms-box-flex: 0;
    -ms-flex: 0 0 12.5%;
    flex: 0 0 12.5%;
    max-width: 12.5%;
}
.row.flex.grid-16 .col.l3 {
    -webkit-box-flex: 0;
    -ms-box-flex: 0;
    -ms-flex: 0 0 18.75%;
    flex: 0 0 18.75%;
    max-width: 18.75%;
}
.row.flex.grid-16 .col.l4 {
    -webkit-box-flex: 0;
    -ms-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
}
.row.flex.grid-16 .col.l5 {
    -webkit-box-flex: 0;
    -ms-box-flex: 0;
    -ms-flex: 0 0 31.25%;
    flex: 0 0 31.25%;
    max-width: 31.25%;
}
.row.flex.grid-16 .col.l6 {
    -webkit-box-flex: 0;
    -ms-box-flex: 0;
    -ms-flex: 0 0 40%;
    flex: 0 0 40%;
    max-width: 40%;
}
.row.flex.grid-16 .col.l7 {
    -webkit-box-flex: 0;
    -ms-box-flex: 0;
    -ms-flex: 0 0 43.75%;
    flex: 0 0 43.75%;
    max-width: 43.75%;
}
.row.flex.grid-16 .col.l8 {
    -webkit-box-flex: 0;
    -ms-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}
.row.flex.grid-16 .col.l9 {
    -webkit-box-flex: 0;
    -ms-box-flex: 0;
    -ms-flex: 0 0 56.25%;
    flex: 0 0 56.25%;
    max-width: 56.25%;
}
.row.flex.grid-16 .col.l10 {
    -webkit-box-flex: 0;
    -ms-box-flex: 0;
    -ms-flex: 0 0 62.5%;
    flex: 0 0 62.5%;
    max-width: 62.5%;
}
.row.flex.grid-16 .col.l11 {
    -webkit-box-flex: 0;
    -ms-box-flex: 0;
    -ms-flex: 0 0 68.75%;
    flex: 0 0 68.75%;
    max-width: 68.75%;
}
.row.flex.grid-16 .col.l12 {
    -webkit-box-flex: 0;
    -ms-box-flex: 0;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
}
.row.flex.grid-16 .col.l13 {
    -webkit-box-flex: 0;
    -ms-box-flex: 0;
    -ms-flex: 0 0 81.25%;
    flex: 0 0 81.25%;
    max-width: 81.25%;
}
.row.flex.grid-16 .col.l14 {
    -webkit-box-flex: 0;
    -ms-box-flex: 0;
    -ms-flex: 0 0 87.5%;
    flex: 0 0 87.5%;
    max-width: 87.5%;
}
.row.flex.grid-16 .col.l15 {
    -webkit-box-flex: 0;
    -ms-box-flex: 0;
    -ms-flex: 0 0 93.75%;
    flex: 0 0 93.75%;
    max-width: 93.75%;
}
.row.flex.grid-16 .col.l16 {
    -webkit-box-flex: 0;
    -ms-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}
@media only screen and (max-width: 992px) {
    .row.flex.grid-16 .col.m1 {
        -webkit-box-flex: 0;
        -ms-box-flex: 0;
        -ms-flex: 0 0 6.25%;
        flex: 0 0 6.25%;
        max-width: 6.25%;
    }
    .row.flex.grid-16 .col.m2 {
        -webkit-box-flex: 0;
        -ms-box-flex: 0;
        -ms-flex: 0 0 12.5%;
        flex: 0 0 12.5%;
        max-width: 12.5%;
    }
    .row.flex.grid-16 .col.m3 {
        -webkit-box-flex: 0;
        -ms-box-flex: 0;
        -ms-flex: 0 0 18.75%;
        flex: 0 0 18.75%;
        max-width: 18.75%;
    }
    .row.flex.grid-16 .col.m4 {
        -webkit-box-flex: 0;
        -ms-box-flex: 0;
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
    }
    .row.flex.grid-16 .col.m5 {
        -webkit-box-flex: 0;
        -ms-box-flex: 0;
        -ms-flex: 0 0 31.25%;
        flex: 0 0 31.25%;
        max-width: 31.25%;
    }
    .row.flex.grid-16 .col.m6 {
        -webkit-box-flex: 0;
        -ms-box-flex: 0;
        -ms-flex: 0 0 40%;
        flex: 0 0 40%;
        max-width: 40%;
    }
    .row.flex.grid-16 .col.m7 {
        -webkit-box-flex: 0;
        -ms-box-flex: 0;
        -ms-flex: 0 0 43.75%;
        flex: 0 0 43.75%;
        max-width: 43.75%;
    }
    .row.flex.grid-16 .col.m8 {
        -webkit-box-flex: 0;
        -ms-box-flex: 0;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
    .row.flex.grid-16 .col.m9 {
        -webkit-box-flex: 0;
        -ms-box-flex: 0;
        -ms-flex: 0 0 56.25%;
        flex: 0 0 56.25%;
        max-width: 56.25%;
    }
    .row.flex.grid-16 .col.m10 {
        -webkit-box-flex: 0;
        -ms-box-flex: 0;
        -ms-flex: 0 0 62.5%;
        flex: 0 0 62.5%;
        max-width: 62.5%;
    }
    .row.flex.grid-16 .col.m11 {
        -webkit-box-flex: 0;
        -ms-box-flex: 0;
        -ms-flex: 0 0 68.75%;
        flex: 0 0 68.75%;
        max-width: 68.75%;
    }
    .row.flex.grid-16 .col.m12 {
        -webkit-box-flex: 0;
        -ms-box-flex: 0;
        -ms-flex: 0 0 75%;
        flex: 0 0 75%;
        max-width: 75%;
    }
    .row.flex.grid-16 .col.m13 {
        -webkit-box-flex: 0;
        -ms-box-flex: 0;
        -ms-flex: 0 0 81.25%;
        flex: 0 0 81.25%;
        max-width: 81.25%;
    }
    .row.flex.grid-16 .col.m14 {
        -webkit-box-flex: 0;
        -ms-box-flex: 0;
        -ms-flex: 0 0 87.5%;
        flex: 0 0 87.5%;
        max-width: 87.5%;
    }
    .row.flex.grid-16 .col.m15 {
        -webkit-box-flex: 0;
        -ms-box-flex: 0;
        -ms-flex: 0 0 93.75%;
        flex: 0 0 93.75%;
        max-width: 93.75%;
    }
    .row.flex.grid-16 .col.m16 {
        -webkit-box-flex: 0;
        -ms-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
}
@media only screen and (max-width: 600px) {
    .row.flex.grid-16 .col.s1 {
        -webkit-box-flex: 0;
        -ms-box-flex: 0;
        -ms-flex: 0 0 6.25%;
        flex: 0 0 6.25%;
        max-width: 6.25%;
    }
    .row.flex.grid-16 .col.s2 {
        -webkit-box-flex: 0;
        -ms-box-flex: 0;
        -ms-flex: 0 0 12.5%;
        flex: 0 0 12.5%;
        max-width: 12.5%;
    }
    .row.flex.grid-16 .col.s3 {
        -webkit-box-flex: 0;
        -ms-box-flex: 0;
        -ms-flex: 0 0 18.75%;
        flex: 0 0 18.75%;
        max-width: 18.75%;
    }
    .row.flex.grid-16 .col.s4 {
        -webkit-box-flex: 0;
        -ms-box-flex: 0;
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
    }
    .row.flex.grid-16 .col.s5 {
        -webkit-box-flex: 0;
        -ms-box-flex: 0;
        -ms-flex: 0 0 31.25%;
        flex: 0 0 31.25%;
        max-width: 31.25%;
    }
    .row.flex.grid-16 .col.s6 {
        -webkit-box-flex: 0;
        -ms-box-flex: 0;
        -ms-flex: 0 0 40%;
        flex: 0 0 40%;
        max-width: 40%;
    }
    .row.flex.grid-16 .col.s7 {
        -webkit-box-flex: 0;
        -ms-box-flex: 0;
        -ms-flex: 0 0 43.75%;
        flex: 0 0 43.75%;
        max-width: 43.75%;
    }
    .row.flex.grid-16 .col.s8 {
        -webkit-box-flex: 0;
        -ms-box-flex: 0;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
    .row.flex.grid-16 .col.s9 {
        -webkit-box-flex: 0;
        -ms-box-flex: 0;
        -ms-flex: 0 0 56.25%;
        flex: 0 0 56.25%;
        max-width: 56.25%;
    }
    .row.flex.grid-16 .col.s10 {
        -webkit-box-flex: 0;
        -ms-box-flex: 0;
        -ms-flex: 0 0 62.5%;
        flex: 0 0 62.5%;
        max-width: 62.5%;
    }
    .row.flex.grid-16 .col.s11 {
        -webkit-box-flex: 0;
        -ms-box-flex: 0;
        -ms-flex: 0 0 68.75%;
        flex: 0 0 68.75%;
        max-width: 68.75%;
    }
    .row.flex.grid-16 .col.s12 {
        -webkit-box-flex: 0;
        -ms-box-flex: 0;
        -ms-flex: 0 0 75%;
        flex: 0 0 75%;
        max-width: 75%;
    }
    .row.flex.grid-16 .col.s13 {
        -webkit-box-flex: 0;
        -ms-box-flex: 0;
        -ms-flex: 0 0 81.25%;
        flex: 0 0 81.25%;
        max-width: 81.25%;
    }
    .row.flex.grid-16 .col.s14 {
        -webkit-box-flex: 0;
        -ms-box-flex: 0;
        -ms-flex: 0 0 87.5%;
        flex: 0 0 87.5%;
        max-width: 87.5%;
    }
    .row.flex.grid-16 .col.s15 {
        -webkit-box-flex: 0;
        -ms-box-flex: 0;
        -ms-flex: 0 0 93.75%;
        flex: 0 0 93.75%;
        max-width: 93.75%;
    }
    .row.flex.grid-16 .col.s16 {
        -webkit-box-flex: 0;
        -ms-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
}